.btn-action {
    border: none;
    color: #fff;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    cursor: pointer;
}
.blue {
    background-color: var(--blue-font);
}
.blue:active {
    background-color: var(--blue-active);
}
.error {
    background-color: var(--red);
}
.error:active {
    background-color: var(--red-active);
}
.confirm {
    background-color: var(--yellow);
}
.confirm:active {
    background-color: var(--yellow-active);
}
.success {
    background-color: var(--blue-font);
}
.success:active {
    background-color: var(--blue-active);
}
.gray {
    background-color: var(--gray-low);
    color: var(--black);
}
.gray:active {
    background-color: var(--gray-active);
}
.white {
    background-color: #fff;
    color: #2f86d8;
    border: 1px solid #2f86d8;
}