.btn-action {
    border: none;
    color: #fff;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    cursor: pointer;
}
.blue {
    background-color: #2f86d8;
}
.error {
    background-color: var(--red);
}
.white {
    background-color: #fff;
    color: #2f86d8;
    border: 1px solid #2f86d8;
}