.show-selected-persons .box-buttons-footer {
    display: grid;
    overflow: auto;
    margin-bottom: 0.5rem;
}
.show-selected-persons .box-buttons-footer::-webkit-scrollbar {
    height: 1rem;
}
.show-selected-persons .box-buttons-footer::-webkit-scrollbar-thumb {
    background-color: var(--blue-font);
    border-radius: 1rem;
}
.show-selected-persons .box-buttons-footer .buttons {
    height: 100%;
    margin: 0 4.5rem;
    display: flex;
    gap: 1rem;
    align-items: center;
}
.btn-generate-id:active {
    background-color: var(--blue-active);
}
.show-selected-persons .box-buttons-footer .buttons .btn-footer {
    width: 20rem;
    height: 3.5rem;
    border-radius: 1rem;
    cursor: pointer;
    font-size: 1.4rem;
    border: none;
    background-color: var(--gray-low);
    color: var(--black);
    box-shadow: 0 0 0.5rem rgba(85, 85, 85, 0.164);
}
.show-selected-persons .box-buttons-footer .buttons .btn-footer:active {
    background-color: var(--gray-active);
}
.show-selected-persons .box-buttons-footer .buttons .btn-generate {
    background-color: var(--blue-font);
    color: var(--white);
}
.show-selected-persons .box-buttons-footer .buttons .btn-generate:active {
    background-color: var(--blue-active);
}