.file-content .footer {
    position: absolute;
    background-color: var(--white);
    box-shadow: 0 -0.2rem 0.7rem var(--box-shadow);
    width: 100%;
    min-height: 17rem;
    left: 0;
    bottom: 0;
    padding: 0rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    transition: all 0.2s ease;
    padding: 3rem 0;
}
.file-content .footer .image {
    width: 40%;
    max-width: 28rem;
}
.file-content .footer .title {
    max-width: 40rem;
    font-size: 1.4rem;
    text-align: center;
    font-weight: var(--font-weight-bold);
}
.file-content .footer .box-results .db-results {
    display: flex;
    justify-content: center;
    gap: 1rem;
}
.file-content .footer .box-results .db-results p,
.file-content .footer .box-results .db-results span {
    font-size: 1.2rem;
}
.file-content .footer .box-results .db-results .amount {
    font-weight: bold;
}
.file-content .footer .box-results .failed-results {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.file-content .footer .box-results .failed-results p {
    text-align: center;
    font-size: 1.2rem;
    max-width: 60rem;
    padding: 0 2rem;
}
.file-content .footer .box-results .failed-results button {
    padding: 1rem 6rem;
    background: none;
    border: 0.1rem solid var(--gray-active);
    cursor: pointer;
    border-radius: 1rem;
}
.file-content .footer .box-results .failed-results button:hover {
    background-color: var(--gray-active);
}
.file-content .footer .box-results .failed-results button:active {
    background: none;
}
.file-content .footer .box-btns {
    width: 100%;
    max-width: 30rem;
    display: grid;
    gap: 1rem;
}
.file-content .footer .box-btns button,
.file-content .footer .box-btns .footer-btn {
    min-width: 5rem;
    max-width: 50rem;
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 3rem;
    border: none;
    background-color: var(--gray-low);
    cursor: pointer;
    font-size: 1.2rem;
}
.file-content .footer .box-btns button:active {
    background-color: var(--gray-active);
}
.file-content .footer .box-btns .footer-btn {
    text-decoration: none;
    grid-row: 1 / 2;
    background-color: var(--blue-font);
    color: var(--white);
}
.file-content .footer .box-btns .footer-btn:active {
    background-color: var(--blue-active);
}
@media(min-width:600px)  {
    .file-content .footer .title {
        max-width: 40rem;
        font-size: 1.8rem;;
        text-align: center;
        font-weight: var(--font-weight-bold);
    }
    .file-content .footer .enlargeText {
        font-size: 2.5rem;
    }
    .file-content .footer .box-results .db-results p,
    .file-content .footer .box-results .db-results span,
    .file-content .footer .box-results .failed-results p {
        font-size: 1.6rem;
    }
    .file-content .footer .box-btns {
        grid-template-columns: 1fr 1fr;
        max-width: 40rem;
    }
    .file-content .footer .box-btns .footer-btn {
        grid-row: 1 / 2;
        grid-column: 2 / 3;
    }
}