.box-search__select {
    width: 20rem;
    height: 3rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
    border: 0.1rem solid rgb(190, 190, 190);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    color: rgb(150, 150, 150);
}
.search__select {
    margin-left: 0.5rem;
    font-size: 1rem;
    border: none;
    color: rgb(150, 150, 150);
    outline: none;
}
@media(min-width: 650px) {
    .box-search__select {
        height: 4rem;
        font-size: 1.1rem;
        border-radius: 1rem 0 0 1rem;
    }
    .search__select {
        font-size: 1.1rem;
    }
}
@media(min-width: 800px) {
    .box-search__select {
        width: 24rem;
        font-size: 1.3rem;
    }
    .search__select {
        font-size: 1.3rem;
    }
}