.careers {
    width: 100%;
    margin-bottom: 4rem;
}
.box-careers {
    width: 100%;
    display: grid;
    gap: 1rem;
}
@media(min-width:800px) {
    .box-careers {
        max-width: 130.4rem;
        display: grid;
        grid-template-columns: 1fr 32.5rem;
        justify-content: flex-start;
        gap: 3rem;
    }
}