.load-excel--content__title {
    color: #1A66AC;
    font-size: 2.5rem;
}
.load-excel--content__text-info {
    width: 25rem;
    font-size: 1.4rem;
    color: #767676;
    padding: 1.6rem 0 3.5rem 0;
    line-height: 2rem;
}
.load-excel--box-input-file {
    position: relative;
    background-color: #1A66AC;
    display: inline-block;
    border: none;
    color: #fff;
    border-radius: 0.8rem;
    width: 14rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.label-input-file {
    position: absolute;
    font-size: 1.8rem;
    user-select: none;
}
.input-file {
    opacity: 0;
    width: 100%;
    height: 100%;
    padding: 1rem 3rem;
}