.review {
    position: relative;
}
.box-Not-found-template {
    width: 32.5rem;
    height: 20.5rem;
}

@media(min-width:800px) {
    .review {
        grid-column: 2 / 3;
    }
}
@media(min-width: 800px) {
    .box-review {
        position: sticky;
        top: 1rem;
    }
}