.box-btn-login {
    width: 100%;
    display: flex;
    justify-content: center;
}
.btn-login {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18rem;
    height: 4.5rem;
    border-radius: 5rem;
    border: none;
    background-color: var(--blue-font);
    color: var(--white);
    cursor: pointer;
}
.disable-btn {
    background: var(--disable);
}