.home-options {
    position: relative;
    width: 100%;
    min-height: 6rem;
    background-color: var(--white);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    align-items: center;
    box-shadow: 0 0 0.5rem #d6d6d6;
    border-radius: 1.5rem;
    padding: 1.5rem 1.5rem 0 1.5rem;
    margin-bottom: 2rem;
}
.home-options .box-select {
    grid-column: span 2;
    height: 4rem;
}
.home-options .total {
    display: flex;
    align-items: center;
    gap: 1rem;
    height: 100%;
    font-size: 1.5rem;
}
.home-options .box-btn-add {
    justify-self: flex-end;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    cursor: pointer;
    border: none;
    background: none;
    color: var(--black);
}
.home-options .box-btn-add:hover {
    color: var(--blue-font);
}
.home-options .box-btn-add:active {
    color: var(--black);
}
@media(min-width: 620px) {
    .home-options {
        grid-template-columns: 20rem 1fr 1fr;
    }
    .home-options .box-select {
        grid-column: span 1;
        height: 4rem;
    }
    .home-options .box-btn-add {
        justify-self: flex-end;
    }
}
@media(min-width: 900px) {
    .home-options {
        grid-template-columns: 20rem 15rem 1fr 11rem;
        padding: 0 1.5rem 0 1.5rem;
        height: 7rem;
    }
}