.id-tamplates {
    margin: 0 0 2rem 0;
}
.id-tamplates .message-error {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}
@media(min-width:600px) {
    .id-tamplates .message-error {
        font-size: 1.7rem;
    }
}