.file-content .header {
    width: 100%;
    min-width: 29rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.1rem solid var(--gray-low);
    padding: 1rem 1rem 1.5rem 1rem;
}

@media(min-width:900px) {
    .file-content .header {
        padding: 1rem 4rem 1.5rem;
    }
}
@media(min-width:1400px) {
    .file-content .header {
        padding: 1rem 9rem 1.5rem;
    }
}