.input-group {
    width: 27.5rem;
    height: 4.5rem;
    margin-bottom: 1.5rem;
    background: var(--white);
    border-radius: 5rem;
    border: 0.1rem solid var(--gray);
    display: grid;
    grid-template-columns: 4rem 1fr;
}
.input-err {
    border: 0.1rem solid var(--red);
}
.pass {
    grid-template-columns: 4rem 1fr 4rem;
}
.input-group svg {
    align-self: center;
    justify-self: center;
}
.input-group input {
    display: block;
    border: none;
    height: 90%;
    border-radius: 0 5rem 5rem 0;
    align-self: center;
    outline: none;
    padding: 0 1rem 0 0;
}
.input-err input::placeholder {
    color: var(--red);
}
.input-group .btn-show-pass {
    border: none;
    border-radius: 0 5rem 5rem 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    cursor: pointer;
    outline: none;
}
.input-group .btn-show-pass svg {
    height: 1.8rem;
}
@media(min-width: 1000px) and (min-height: 800px) {
    .input-group {
        width: 35rem;
        height: 4.5rem;
        margin-bottom: 2.5rem;
    }
}