.btn-config {
    position: relative;
    width: 17rem;
    height: 3.4rem;
    text-decoration: none;
    border: 0.1rem solid var(--gray);
    color: var(--black);
    border-radius: 2rem;
    font-size: 1.2rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    background: none;
    font-weight: var(--font-weight-light);
}
.btn-config-active {
    background-color: var(--blue-font);
    color: var(--white);
    border: 0.1rem solid var(--blue-font);
}
.btn-config svg {
    fill: #4F4F4F;
}
.btn-config-active > svg {
    fill: #ffffff;
}