.search {
    grid-column: span 2;
}
.search .content {
    height: 6rem;
    background-color: var(--white);
    display: grid;
    grid-template-columns: 4rem 1fr;
    border-radius: 1.5rem;
}
.search .is-searching {
    border-radius: 1.5rem 1.5rem 0 0;
    border-bottom: 0.1rem solid #e9e9e99c;
}
.search .content .box-icon {
    width: 100%;
    height: 100%;
    display: flex;
}
.search .content .box-icon img {
    width: 50%;
    height: 50%;
    object-fit: contain;
    margin: auto auto auto 0;
}
.search .content .box-input {
   display: flex;
   height: 100%;
}
.search .content .box-input .input-id {
    flex: 1;
} 
.search .content .box-input input {
    outline: none;
    border: none;
    height: 100%;
    background: none;
}
.search .content .box-input .box-btn-clear-input {
    width: 4rem;
    height: 100%;
    margin-right: 0.5rem;
}
.search .content .box-input .box-btn-clear-input .btn-clear-input {
    width: 100%;
    height: calc(100% - 0.5rem);
    border: none;
    margin: 0.2rem;
    border-radius: 1.5rem;
    cursor: pointer;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
}
.search .content .box-input .btn-clear-input:active {
    background: var(--gray-active);
}

@media(min-width: 600px) {
    .search .content .box-input input,
    .search .content .box-input .input::placeholder {
        font-size: 1.6rem;
    }
}
@media(min-width: 620px) {
    .search {
        grid-column: span 3;
    }
    
}
@media(min-width: 760px) {
    .search .content {
        grid-template-columns: 6rem 1fr;
    }

}
@media(min-width: 900px) {
    .search {
        grid-column: 3 / 4;
        grid-row: 1 / 2;
    }
    .search .content {
        grid-template-columns: 10rem 1fr;
    }
    .search .content .box-icon img {
        margin: auto;
    }
}
@media(min-width: 1200px) {
    .search .content .box-input .box-btn-clear-input {
        width: 7rem;
    }
}