.box-modal-left {
    position: fixed;
    left: 0;
    width: 100%;
    min-width: 32rem;
    height: calc(100% - 6.4rem);
    background-color: rgba(0, 0, 0, 0.171);
    z-index: 1;
}
.box-modal-left .left-box {
    width: 100%;
    height: 100%;
    max-width: 78rem;
    background-color: var(--white);
    box-shadow: 0.5rem 0 0.5rem var(--box-shadow);
}