.validity-periods .sub-title {
    display: block;
    font-size: 1.2rem;
    font-weight: var(--font-weight-normal);
    margin-bottom: 1rem;
}
.validity-periods .period-error {
    font-size: 1.4rem;
    color: var(--red);
    margin-left: 1.5rem;
}
.validity-periods .box-buttons {
    display: flex;
    gap: 1rem;
    padding-top: 3rem;
}
.validity-periods .box-btn-try-again {
    width: 14rem;
    height: 3.5rem;
}
.validity-periods .box-btn-try-again .btn-action {
    border-radius: 8rem;
    font-size: 1.5rem;
    box-shadow: 0 0 0.5rem var(--box-shadow);
}
@media(min-width:600px) {
    .validity-periods .sub-title {
        font-size: 2rem;
    }
    .validity-periods .box-btn-try-again {
        width: 16rem;
        height: 4rem;
    }
    .validity-periods .box-btn-try-again .btn-action {
        font-size: 1.6rem;
    }
}