.validity-periods .sub-title {
    display: block;
    font-size: 1.2rem;
    font-weight: var(--font-weight-normal);
    margin-bottom: 1rem;
}
.validity-periods .period-error {
    font-size: 1.4rem;
    color: var(--red);
    margin-left: 1.5rem;
}
.validity-periods .box-buttons {
    display: flex;
    gap: 1rem;
    padding-top: 1.5rem;
}
.box-btn-period {
    width: 12.5rem;
    height: 3.5rem;
}
@media(min-width:600px) {
    .validity-periods .sub-title {
        font-size: 2rem;
    }
    .box-btn-period {
        width: 16rem;
        height: 4rem;
    }
}