.not-data {
    margin: 1rem;
    grid-column: 1 / -1;
    min-height: 22rem;
    height: calc(100% - 2rem);
    border-radius: 1.5rem;
    display: grid;
    justify-content: center;
    align-content: center;
    gap: 3rem;
}
.not-data .btn-go,
.not-data svg {
    justify-self: center;
}
.not-data .message {
    text-align: center;
    font-size: 1.5rem;
    max-width: 50rem;
    width: 100%;
    font-weight: 300;
}
.not-data .btn-go {
    width: 16rem;
    height: 4rem;
    background-color: var(--blue-font);
    border: none;
    color: var(--white);
    font-size: 1.5rem;
    border-radius: 2rem;
    cursor: pointer;
    display: flex;
    padding: 0 3rem;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}
.not-data .btn-go:active {
    background-color: var(--blue-active);
}
@media(min-width: 600px) {
    .not-data .message {
        font-size: 1.8rem;
        max-width: 70rem;
        width: 100%;
    }
}