.file-content .footer {
    position: absolute;
    background-color: var(--white);
    box-shadow: 0 -0.2rem 0.7rem var(--box-shadow);
    width: 100%;
    min-height: 17rem;
    left: 0;
    bottom: 0;
    padding: 0rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    transition: all 0.2s ease;
    padding: 3rem 0;
}
.file-content .footer .image {
    width: 40%;
    max-width: 28rem;
}