.setting-box {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 6rem;
}
.setting-box .title {
    margin: 0 1rem;
}
.setting-box .title {
    font-size: 1.5rem;
}
.setting-box .divider-line {
    background-color: var(--gray-active);
    height: 0.2rem;
}
@media(min-width:600px) {
    .setting-box .title {
        font-size: 3rem;
    }
    .setting-box .content,
    .setting-box .title {
        margin: 0 2rem;
    }
}