.btn-download {
    margin: 1.5rem auto 0 auto;
    width: 60%;
    height: 3.5rem;
    background: var(--blue-font);
    border: none;
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3rem;
    cursor: pointer;
}
.btn-download:active {
    background: var(--blue-active);
}
.btn-download span {
    font-size: 1.6rem;
    color: var(--white);
}