.box-upload-template .box-loade-template label {
    position: relative;
    display: block;
    display: grid;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 100%;
    height: 100%;
    border-radius: 2rem;
    z-index: 2;
}
.box-upload-template .box-loade-template label:active {
    background: var(--box-shadow);
}
.box-upload-template .box-loade-template .input-upload-tamplate {
    position: absolute;
    z-index: 1;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}