nav {
    position: relative;
    box-shadow: 0 0.2rem 0.7rem rgba(0, 0, 0, 0.123);
    background-color: #fff;
    height: 100%;
    width: 100%;
    padding: 1rem var(--padding-phone);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 4;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logiItecce {
    width: 80px;
    height: 35px;
}
.btn-show-menu {
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 1rem;
    background-color: var(--gray-low);
    cursor: pointer;
}
.links {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 3;
    padding-top: 6.3rem;
    background-color: var(--white);
    width: 100%;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.showMenu {
    display: flex;
}
.links li {
    margin-bottom: 1rem;
    list-style: none;
}
.link {
    text-decoration: none;
    background: var(--white);
    padding: 1rem 2rem;
    display: inline-block;
    color: var(--blue-font);
    border-radius: var(--radio-button);
    font-size: 1.5rem;
    border: none;
    cursor: pointer;
}
.active {
    background: var(--blue-font);
    color: var(--white);
}
@media(min-width: 600px) {
    nav {
        padding: 1rem var(--padding-tablet);
    }
}

@media(min-width: 1000px) {
    nav {
        padding: 1rem var(--padding-laptop);
        justify-content: start;
    }
    .btn-show-menu {
        display: none;
    }
    .links {
        left: auto;
        right: 0;
        top: 0;
        z-index: 4;
        padding: 0rem var(--padding-laptop) 0rem 0rem;
        width: 84%;
        height: 6.3rem;
        display: flex;
        justify-content: flex-end;
        flex-direction: row;
    }
    li {
        margin-bottom: 0rem;
    }
    .link {
        padding: 1rem 2rem;
        font-size: 1.2rem
    }
}  