.details {
    margin-left: 2.5rem;
}
.details .title {
    font-size: 3rem;
}
.details .list-items {
    margin-top: 1rem;
}
.details .list-items .item {
    font-size: 1.7rem;
    margin-bottom: 1rem;
}
.details .box-btn-out {
    margin-top: 2rem;
    width: 10rem;
    height: 3rem;
}
@media(min-width: 1000px) {
    .details .title {
        font-size: 4rem;
    }
    .details .list-items .item {
        font-size: 2.2rem;
        margin-bottom: 1rem;
    }
    .details .box-btn-out {
        max-width: 13rem;
        height: 4rem;
    }
}