.header-form-add {
    height: 14rem;
    padding: 2rem 0 1rem 0;
    display: grid;
    align-content: center;
}
 .header-form-add .box-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-form-add .box-title .title {
    font-size: 2rem;
    line-height: 4rem;
}
.header-form-add .box-title .btn-close {
    width: 3.7rem;
    height: 3.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    background: none;
}
.header-form-add .box-title .btn-close:hover {
    background: var(--gray-active);
}
.header-form-add .box-title .btn-close:active {
    background: none;
}
.header-form-add .text {
    font-size: 1.5rem;
    max-width: 32rem;
    margin-right: 3.7rem;
}
.header-form-add .box-btns {
    display: flex;
    gap: 1rem;
}

@media(min-width: 600px) {
    .header-form-add .box-title .title {
        font-size: 3.5rem;
    }
    .header-form-add .text {
        font-size: 2rem;
        max-width: 42rem;
        margin-right: 3.7rem;
    }
}
@media(min-width: 700px) {
    .header-form-add {
        padding: 2rem 0 1rem 0;
    }
}