.box-info-person {
    position: absolute;
    top: 16px;
    left: 19.5px;
    width: auto;
    z-index: 1;
    background-color: var(--white);
    display: flex;
    border: 0.1rem solid var(--black);
    border-radius: 1rem;
}
.back-person-img {
    width: 89px;
    height: 98px;
    border-radius: 1rem 1rem 0 1rem;
}
.box-info-school {
    display: grid;
    align-items: center;
    padding: 1rem 0;
}
.back-mtc {
    text-align: center;
    padding: 0.5rem 1rem;
}
.back-mtc span {
    display: block;
    font-size: 1.2rem;
}