.box-verifing-token {
    display: grid;
    justify-content: center;
    margin-top: 5rem;
    gap: 1rem;
}
.box-verifing-token span {
    justify-self: center;
}
.box-verifing-token p {
    font-size: 1.5rem;
    user-select: none;
}