.item-info {
    width: 100%;
    min-width: 28.6rem;
    max-width: 50rem;
    height: 3.5rem;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 2.7rem;
}
.box-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.box-info .title-info {
    font-size: 1.5rem;
    font-weight: 600;
    color: #252525;
}
.box-info .value-info {
    font-size: 1.2rem;
    color: #666666;
}
@media(min-width: 800px) {
    .box-info .title-info {
        font-size: 2rem;
    }
    .box-info .value-info {
        font-size: 1.5rem;
    }
}