.breadCrumbs {
    display: flex;
    width: calc(100vw - 2rem);
    height: 5rem;
    overflow: auto;
}
.breadCrumbs::-webkit-scrollbar {
    height: 0.5rem;
}
.breadCrumbs::-webkit-scrollbar-thumb {
    background-color: black;
}
.box-breadcrumbs {
    height: 4rem;
    display: flex;
    align-items: center;
}
.box-breadcrumbs li {
    margin: 0 0.5rem;
}
.bc_link {
    font-size: 1.5rem;
    white-space: nowrap;
    text-decoration: none;
    color: black;
}
.bc_link:hover {
    color: rgb(136, 136, 136);
}
.bc_inactive {
    color: gray;
}
@media(min-width: 600px) {
    .breadCrumbs {
        width: calc(100vw - 12rem);
    }
}
@media(min-width: 1000px) {
    .breadCrumbs {
        width: calc(100vw - 16rem);
    }
}