@import url('https://fonts.googleapis.com/css2?family=Electrolize&family=Inter:wght@300;600&family=Roboto:wght@100;300;700&display=swap');
:root {
    --white: #ffffff;
    --black: #000000;
    --gray-low: rgb(243, 243, 243);
    --gray-active:rgb(230, 230, 230);
    --gray:rgb(168, 168, 168);
    --disable: #ECECEC;
    --green: #075300;
    --green-active: #3e8838;
    --red: #8f0505;
    --red-active: #b66e6e;
    --box-shadow:#00000021;
    --blue-font: #1A66AC;
    --blue-active: #4078ad;
    --yellow: #887A00;
    --yellow-active: #9c9445;
    --radio-button: 0.5rem;
    --font-weight-light: 300;
    --font-weight-bold: 600;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
html {
    font-size: 62.5%;
}
