.home-items {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    grid-gap: 1rem;
    padding: 1rem 0;
}
.home-items .message-data-emty {
    font-size: 2rem;
}