.name-excel {
    display: flex;
    gap: 1.5rem;
    align-items: center;
}
.name-excel .box-circle {
    box-shadow: 0 0 0.5rem var(--box-shadow);
    border-radius: 50%;
    width: 5.5rem;
    height: 5.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.name-excel .info-excel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    user-select: none;
}
.name-excel .info-excel .name {
    font-size: 1.5rem;
    font-weight: bold;
    width: 18rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
@media(min-width: 400px) {
    .name-excel .info-excel .name {
        width: 27rem;
    }
}
@media(min-width: 600px) {
    .name-excel .info-excel .name {
        width: 40rem;
    }
}
@media(min-width: 800px) {
    .name-excel .info-excel .name {
        font-size: 2rem;
    }
    .name-excel .info-excel .label,
    .name-excel .info-excel .total {
        font-size: 1.2rem;
    }
}