.identity-sub-title {
    padding: 2rem 0 1rem;
    font-size: 2.5rem;
    font-weight: bold;
    padding: 2rem 0 3rem;
    display: block;
}
.show-person .loading-identity-info {
    font-size: 1.4rem;
}
@media(min-width: 900px) {
    .show-person .loading-identity-info {
        font-size: 1.8rem;
    }
}