.home-options .box-select-type {
    width: 100%;
    height: 3.5rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}
.home-options .box-select-type .select-type {
    width: 12rem;
    height: 3.5rem;
    outline: none;
    border-radius: 1rem;
    border-color: var(--gray);
    cursor: pointer;
    font-size: 1.4rem;
}
.home-options .box-select-type p {
    font-size: 1.2rem;
}
@media(min-width: 1400px) {
    .home-options .box-select-type {
        gap: 2rem;
    }
    .home-options .box-select-type .select-type {
        width: 17rem;
        height: 3rem;
    }
    .home-options .box-select-type p {
        font-size: 1.5rem;
    }
}