.layout {
    position: relative;
    width: 100%;
    min-width: 30rem;
    height: 100vh;
    display: grid;
    grid-template-rows: 6.3rem 1fr;
}
.content {
    padding: 0 var(--padding-phone);
}
@media(min-width:600px) {
    .content { 
        padding: 0 var(--padding-tablet);
    }
}
@media(min-width:1000px) {
    .content { 
        padding: 0 var(--padding-laptop);
    }
}